<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Login</h1>
      <% include ./partials/messages %>
      <form action="/login" method="POST" id="login_form_id" >
        <input type="hidden" name="action" id="login_form_id_action" value="/api/login">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <a class="btn btn-primary btn-block" onclick="validateFieldsByFormId('login_form_id')">Login</a>
        <!-- <button type="submit" class="btn btn-primary btn-block">Login</button> -->
      </form>
      <p class="lead mt-4">
        No Account? <a href="/register">Register</a>
      </p>
    </div>
  </div>
</div>
